In [6]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [7]:
# Connect to the mysql server
# https://www.kaggle.com/code/dilarabr/writing-pandas-dataframe-to-mysql

try:
    mydb = mysql.connector.connect(
        host="mysql",
        user="root",
        password="Password"
)
    print("Connection established")
    cursor = mydb.cursor()
    cursor.execute("create database if not exists new_db")
    mydb.commit()
    print("Database created successfully")
    cursor.execute("use new_db")

except mysql.connector.Error as err:
    print("An error occurred:", err)

Connection established
Database created successfully

In [8]:
# create engine

hostname= "mysql"
database= "new_db"
username= "root"
password= "ChangeMeToSuperSecurePassword"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))

In [9]:
# READ data extracted previously from the website Capterra and transformed
df = pd.read_csv("../../data_csv/capterra.csv")

In [10]:
# Load data into database
df.to_sql('table1', engine, if_exists='replace', index=False)

36189

In [11]:
# READ data in from mysql

cursor.execute("use new_db")
cursor.execute('''  SELECT * from table1 ''')

rows = cursor.fetchall()
print("The last value of the first row is: {}".format(rows[0][-1]))

The las value of the first row is: 5.000458325339689